* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1F2937;
}

header {
  position: fixed;
  width: 100vw;
  height: 12vh;
  padding: 1%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
}

header p {
  color: #F9FaF8;
  font-size: 24px;
}

nav {
  width: 50vw;
  height: 12vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  color: #E5E7EB;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration-line: none;
  margin: 5px;
  padding: 5px;
  display: block;
}
