* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1F2937;
}

header {
  position: fixed;
  width: 100vw;
  height: 12vh;
  padding: 1%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
}

header p, #section-one p {
  color: #F9FaF8;
  font-size: 24px;
}

nav {
  width: 50vw;
  height: 12vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  color: #E5E7EB;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration-line: none;
  margin: 5px;
  padding: 5px;
  display: block;
}

main {
  padding-top: 120px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FaF8;
}

#section-one {
  display: flex;
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.hero h1, .hero p, .hero a {
  margin: 5px 0;
} 

#section-one img {
  height: 200px;
  width: 350px;
  margin-left: 10px;
}

#section-one a {
  text-decoration-line: none;
  color: #F9FaF8;
  background-color: #3882F6;
  padding: 5px 20px;
  border-radius: 7px;
}

#section-two {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px 0;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.container figure {
  display: inline-block;
}

.container img {
  border: 5px solid #3882F6;
  border-radius: 15px;
  height: 150px;
  width: 150px;
}

